
@import "tailwindcss"; 
*/

/* 2. 之后再放我们的自定义优化代码 */
:root {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

body {
  overscroll-behavior-y: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

input, textarea {
  -webkit-user-select: auto;
  user-select: auto;
}
